*, *::before, *::after { 
	box-sizing: border-box; 
}

:root {
	--basic-red: #EE3643;
	--hover-red: #CA2C37;
	--active-red: #BA2732;
	--basic-white: #ffffff;
	--basic-black: #000000;
	--nav-background: #293449;
	--basic-green: #63A63E;
	--basic-light-green: #8ED78F;
	--hover-green: #5FBB2D;
	--active-green: #518534;
	--success-green: #5FBB2D;
	--basic-light-orange: #FFBF47;
	--basic-dark-orange: #FFC047;
	--basic-light-blue: #3BBCE3;
	--basic-violet: #DC91D8;
	--white-chocolate: #F9F5F0;
	--basic-light-grey: #F3F7F9;
	--active-grey: #C5C5C5;
	--basic-grey: #A9A9A9;
	--border-grey: #E5E5E5;
	--basic-dark-yellow: #FFD180;
	--basic-dark-blue: #32425C;
	--background-hover-blue: #293449;
	--background-active-blue: #1D2739;
	--background: #F1F5F7;
	--click-logo: #BA2732;
	--click-bookmarks: #161D29;
	--background-click-text: rgba(255, 255, 255, 0.5);
	--background-button: rgba(255, 255, 255, 0.3);
	--background-slider: rgba(0, 0, 0, 0.25);
	--background-vk: #212A31;
	--modal-background: #F4F4F4;
	--catalog-heading-background: #F2F6F8;
	--catalog-form-background: #F7F3EC;
	--scale-background: #D7DCDE;
	--bar-background: #00CA74;
	--toggle-background: #ABABAB;
	--active-checked: #B5B5B5;
}

.page-body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

.modal-window {
	top: 50%;
	left: 50%;
	z-index: 99;
	position: absolute;
	width: 620px;
	min-height: 430px;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	border-top: 7px solid var(--basic-red);
	background-color: var(--basic-white);
}

.modal-hiden {
	display: none;
}

.centr {
	width: 460px;
	margin: 0 auto;
}

.modal-flex {
	display: flex;
	flex-direction: column;
}

.top-input {
	margin-top: 50px;
	display: flex;
	gap: 20px;
}

.heading {
	font-family: Cuprum;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.registred {
	padding: 6px 12px;
	width: 220px;
	min-height: 38px;
	font-family: PT Sans;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-grey);
	border: 1px solid var(--basic-grey);
}

.bottom-input {
	margin-top: 13px;
	padding-bottom: 39px; 
}

.close {
	position: absolute;
	right: 11px;
	cursor: pointer;
	top: 21px;
}

.bottom-text {
	padding: 6px 12px;
	margin-top: 11px;
	width: 460px;
	min-height: 112px;
	font-family: PT Sans;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-grey);
	border: 1px solid var(--basic-grey);
}

.modal-footer {
	width: 620px;
	height: 112px;
	background-color: var(--modal-background);
}

.modal-enter {
	text-decoration: none;
	color: var(--basic-white);
	background-color: var(--basic-red);
	width: 100%;
	display: flex;
	height: 38px;
	align-items: center;
	margin-top: 37px;
	justify-content: center;
}

.container {
	width: 1200px;
	padding: 0 130px;
	margin: 0 auto;
}

.page{
	height: 100%;
}

.header-top-line {
	background-color: var(--nav-background);
}

.header-top-line .container {
	justify-content: space-between;
	height: 42px;
	display: flex;
}

.flex {
	display: flex;
	align-items: center;
}

.header-logo {
	width: 220px;
	height: 47px;
	align-items: center;
	justify-content: center;
	display: flex;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	background-color: var(--basic-red);
}


.header-logo:active {
	background: var(--click-logo);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}


.main-search {
	height: 42px;
	width: 271px;
	font-family: Cuprum;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	font-style: normal;
	font-weight: normal;
	background-color: var(--nav-background);
	background-image: url(../img/icon-search.svg);
	background-blend-mode: soft-light;
	background-repeat: no-repeat;
	background-position: 18px;
	padding-left: 42px;
	border: none;
	outline: none;
}


.main-search:hover {
	cursor: pointer;
	background-blend-mode: normal;
}

.main-search:focus {
	background-color: var(--basic-white);
	background-image: url(../img/icon-search-hover.svg);
	color: var(--basic-black);
}

.header-button-position {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.header-button-position li {
	display: flex;
}

.nav-padding {
	padding-bottom: 60px;
}

.header-button-position a{
	color: var(--basic-white);
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-decoration-line: none;
}

.header-button-basket {
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 20px;
	background-blend-mode: soft-light;
	padding-left: 43px;
	background-color: var(--nav-background);
	width: 150px;
	height: 42px;
}

.header-button-bookmarks {
	background-image: url(../img/icon-bookmark.svg);
	background-blend-mode: soft-light;
	background-repeat: no-repeat;
	background-position: 20px;
	padding-left: 43px;
	background-color: var(--nav-background);
	width: 150px;
	height: 42px;
}

.bookmarks {
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 42px;
}

.basket {
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 42px;
}

.header-flex-box .container {
	display: flex;
	height: 158px;
	justify-content: space-between;
}

.header-button-bookmarks:hover {
	background-blend-mode: normal;
}

.header-button-basket:hover{
	background-blend-mode: normal;
}

.header-button-bookmarks:active {
	background-color: var(--click-bookmarks);
	color: var(--background-click-text);
	background-blend-mode: soft-light;
}

.header-button-basket:active{
	background-color: var(--click-bookmarks);
	color: var(--background-click-text);
	background-blend-mode: soft-light;
}



.header-button-checkout {
	width: 150px;
	padding: 10px 16px 11px 19px;
	background-color: var(--basic-green)
}

.header-button-checkout:hover {
	background-color: var(--success-green);
}

.header-button-checkout:active {
	color: var(--background-click-text);
}


.about-site {
	font-family: Cuprum;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
	margin: 0;
	padding: 46px 0 20px 0;
}


.header-tel {
	width: 270px;
}

.tel {
	width: 270px;
	font-family: Cuprum;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	text-decoration: none;
	border: 3px solid var(--basic-white);
	align-items: center;
	padding-left: 74px;
	margin-top: 46px;
	height: 45px;
	display: flex;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 39px ;
}



.address {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-dark-blue);
	padding: 0;
	margin-top: 3px;
	display: flex;
	justify-content: center;
}

.header-button-group {
	display: flex;
	width: 281px;
	justify-content: space-between;
	margin-top: 46px;
}

.enter-button {
	border: none;
	padding: 0;
	width: 121px;
	height: 45px;
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 19px;
	padding-left: 45px;
	align-items: center;
	display: flex;
}

.style-button:hover {
	color: var(--basic-red);
}

.style-button:active {
	color: var(--active-grey);
}

.registreated-button {
	padding: 0;
	width: 150px;
	height: 45px;
	border: none;
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.header {
	background-color: var(--background);
}

.main-nav {
	display: flex;
	background-color: var(--basic-dark-blue);
	box-shadow: inset 0px -5px 0px #293449;
	margin: 0;
	padding: 0 53px;
	list-style: none;
}

.main-nav a{
	text-decoration-line: none;
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);

}



.style-link {
	padding: 16px 24px 20px 27px;
}

.style-link:hover {
	background-color: var(--background-hover-blue);
}

.style-link:active {
	background-color: var(--background-active-blue);
	opacity: 0.5;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.material {
	position: relative;
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	background-position-x: 213px;
	background-position-y: 31px;
	background-color: var(--basic-light-orange);
}

.tool {
	background-color: var(--basic-light-blue);
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	background-position-x: 194px;
	background-position-y: 34px;
}

.technics {
	background-color: var(--basic-violet);
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	background-position-x: 191px;
	background-position-y: 31px;
}

.discount {
	background-color: var(--basic-light-green);
	grid-column-start: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	background-image: url(../img/icon-4.svg);
	background-repeat: no-repeat;
	background-position-x: 196px;
	background-position-y: 26px;
}

.delivery {
	background-color: var(--basic-dark-orange);
	grid-column-start: 3;
	grid-row-start: 3;
	grid-row-end: 3;
	background-image: url(../img/icon-5.svg);
	background-repeat: no-repeat;
	background-position-x: 191px;
	background-position-y: 32px;
}

.new {
	position: absolute;
	right: 0;
	z-index: 2;
}

.main-serves-slider {
	grid-column: 1/3;
	grid-row: 2/4;
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-serves-slider-item {
	background-image: url(../img/slider-photo1.jpg);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.slider-arrow-right {
	transform: rotate(180deg);
	top: 122px;
	right: 20px;
	cursor: pointer;
	position: absolute;

}

.slider-arrow-left{
	cursor: pointer;
	position: absolute;
	top: 122px;
	left: 24px;
}

.top-slider-text {
	height: 104px;
	display: flex;
	flex-direction: column;
	background-color: var(--background-slider);
	
}

.main-serves-link-style:hover {
	background-color: var(--active-grey);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.main-serves-link-style:active {
	background-color: var(--basic-grey);
	mix-blend-mode: normal;
	opacity: 0.3;
}


.main-serves-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 59px;
	grid-gap: 20px;
}

.main-serves-container article {
	width: 300px;
	height: 123px;
}

.main-serves-heading {
	font-family: Cuprum;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-white);
	margin: 20px 0 14px 23px;
}

.main-serves-link {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	padding: 10px 24px 10px 23px;
	text-decoration-line: none;
	width: 135px;
	text-transform: uppercase;
	background-color: var(--background-button);
	margin-left: 23px;
	margin-top: 14px;
	display: block;
	text-align: center;
}

.slider-heading {
	text-transform: uppercase;
	font-family: Cuprum;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-white);
	margin: 23px 0 5px 24px;
}

.slider-text {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	padding: 0;
	margin: 0 0 0 24px;
}

.slider-button {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	text-decoration: none;
	text-transform: uppercase;
	padding: 11px 46px 9px 46px;
	width: 192px;
	background-color: var(--basic-red);
	margin: 97px 0 0 24px;
}

.slider-button-style:hover {
	background-color: var(--hover-red);
}

.slider-button-style:active {
	background-color: var(--active-red);
}


.main-flex-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 59px 0 20px 0;
	background-color: var(--white-chocolate);
}

.main-heading {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-black);
	margin-left: 28px;
}

.main-link {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	background-color: var(--basic-red);
	text-decoration-line: none;
	padding: 11px 38px 9px 39px;
	text-transform: uppercase;
	margin-right: 14px;
}

.main-popular-creaters .main-flex-box {
	margin-top: 70px;
}

.main-popular-item-catalog {
	display: flex;
	gap: 20px;
	margin: 0;
	padding: 0;
}

.list-style-top {
	display: flex;
	width: 218px;
	height: 164px;
	
}

.img-21 {
	margin: 0 auto;
}

.img-22 {
	margin: 29px 0 0 40px;
}

.img-23 {
	margin: 22px 0 0 33px;
}

.img-24 {
	margin: 29px 0 0 40px;
}

.bottom-price a {
	margin: 31px 0 0 45px;
}

.main-popular-item-catalog-hover-link {
	position: relative;
	display: none;
}

.main-popular-item-catalog-hover-link .buy {
	position: relative;
	color: var(--basic-white);
	background-color: var(--basic-green);
	box-shadow: inset 0px -3px 0px #367315;
	border-radius: 2px;
	width: 135px;
	text-transform: uppercase;
	padding: 10px 40px 10px 53px;
	text-decoration: none;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
}

.svg-buy {
	position: absolute;
	left: 30px;
	opacity: 0.3;
}

.main-popular-item-catalog-hover-link .buy:hover {
	background-color: var(--hover-green);
}

.main-popular-item-catalog-hover-link .buy:active {
	background-color: var(--active-green);
}


.main-popular-item-catalog-hover-link .to-bookmarks {
	border: 3px solid var(--basic-green);
	box-sizing: border-box;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	border-radius: 2px;
	text-transform: uppercase;
	background-color: var(--basic-white);
	color: var(--basic-dark-blue);
	padding: 8px 31px 6px 30px;
	margin-top: 10px;
	text-decoration: none;
}

.main-popular-item-catalog-hover-link .to-bookmarks:hover {
	border: 3px solid var(--basic-dark-blue);
	box-sizing: border-box;
	border-radius: 2px;
}

.main-popular-item-catalog-hover-link .to-bookmarks:active {
	border: 3px solid var(--basic-dark-blue);
	box-sizing: border-box;
	border-radius: 2px;
	opacity: 0.5;
}

.list-style {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 220px;
	min-height: 318px;
	border: 1px solid grey;

}



.list-style:hover {
	background: var(--basic-white);
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}



.list-style:hover .main-popular-item-catalog-hover-link {
	display:flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 38px;
	padding-bottom: 54px;

}


.list-style:hover .list-style-top img {
	display: none;
}


.list-style p {
	display: flex;
	flex-direction: column;
	margin: 6px 0 0 0;
}


.img-block {
	display: flex;
	width: 100%;
	height: 164px;
}

.products-heading {
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: var(--basic-black);
	margin: 8px 0 0 0;
	text-align: center;
}

.strike {
	color: var(--basic-grey);
	margin: 0 auto;
}

.price {
	width: 141px;
	height: 38px;
	color: var(--basic-white);
	text-decoration: none;
	align-items: center;
	padding-left: 32px;
	margin-left: 47px;
	background-image: url(../img/price-button.svg);
	background-repeat: no-repeat;
	display: flex;
	margin-top: 13px;
}


.main-popular-brands {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	align-content: space-around;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 19px;
}

.main-popular-brands-container {
	width: 220px;
	height: 145px;
	display: flex;
}

.main-popular-brands a {
	display: flex;
}

.main-popular-brands .main-popular-brands-container:hover {
	background-color: var(--basic-white);
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.main-popular-brands .main-popular-brands-container:active {
	background-color: var(--basic-white);
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
	opacity: 0.5;
}


.main-offer {
	background-color: var(--background);
	height: 522px;
	margin-top: 70px;
}


.flex-box {
	display: flex;
	justify-content: space-between;
}


.main-offer-heading {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-black);
	margin: 0;
	padding-top: 64px;
}

.main-offer-about-text {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
	margin: 25px 0 0 0;
	padding: 0;
}

.main-offer-services {
	
	list-style: none;
	padding: 0;
	margin-top: 70px;

}

.main-offer-services .list-button:hover{
	background-color: var(--nav-background);
	color: var(--basic-white);
}



.list-button {
	font-family: Cuprum;
	font-size: 21px;
	line-height: 30px;
	display: flex;
	align-items: center;
	padding-left: 16px;
	border: none;
	width: 230px;
	height: 61px;
	background-color: var(--basic-dark-blue);
	color: var(--basic-white);
}

.list-button-active {
	background-color: var(--basic-white);
	color: var(--basic-dark-blue);
}

.main-offer-delivery {
	width: 619px;
	height: 283px;
	margin-top: 67px;
	margin-left: 80px;
	background-image: url(../img/Layer1311.png);
	background-repeat: no-repeat;
	background-position: 151px 20px; 
}

.main-offer-delivery-heading {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-dark-blue);
}

.about-offer-text {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
}

.send-request {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.mian-contact-heading {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-black);
	margin: 0;
	text-transform: uppercase;
}

.main-contact {
	height: 496px;
}

.main-contact .container {
	padding-top: 70px;
	display: flex;
	justify-content: space-between;
}

.main-contact-text {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;

	color: var(--basic-black);
}

.main-contact-text p {
	display: flex;
	margin: 0;
	padding: 0;
}

.main-contact-text-p {
	margin-top: 24px;
	width: 460px;
}

.main-contact-text-p :last-child {
	margin-top: 26px;
}

.benefits {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	list-style-image: url(../img/list-style.svg);
	padding: 0;
	margin: 0;
	list-style-position: inside;

}

.benefits li:first-child {
	margin-top: 1px;
}

.benefits li:not(:first-child) {
	margin-top: 12px;
}

.about-team {
	text-decoration-line: none;
	text-transform: uppercase;
	padding: 11px 40.29px 9px 39.71px;
	width: 220px;
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	background-color: var(--basic-red);
	margin-top: 20px;
}

.feedback {
	text-decoration-line: none;
	text-transform: uppercase;
	padding: 11px 61.13px 9px 61.87px; 
	background-color: var(--basic-red);
	color: var(--basic-white);
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	margin-top: 25px;
}

.map {
	font-family: PT Sans;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 300px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
}

.map p {
	margin: 24px 0 32px 0;
}

.footer {
	background-color: var(--basic-dark-blue);
}

.footer .container {
	display: flex;
	justify-content: space-between;

}

.footer-logo {
	background-color: var(--basic-red);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	width: 220px;
	height: 68px;
}

.footer-contact-inf {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-light-grey);
}

.footer-tel {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-light-grey);
	text-decoration: none;
}

.footer-text {
	margin: 22px 0 54px 0;
}

.footer-link-flex {
	margin-top: 37px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer-link-top a {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	text-decoration-line: none;
}

.footer-link-top a:hover {
	text-decoration-line: underline;
}

.footer-link-top a:active {
	color: var(--background);
	opacity: 0.5;
}


.footer-link-top {
	justify-content: space-around;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 58px;
}

.footer-link-bottom {
	justify-content: space-around;
	display: flex;
	list-style-type: none;
	gap: 58px;
}

.footer-link-bottom a:hover {
	text-decoration-line: underline;
}

.footer-link-bottom a:active {
	color: var(--basic-dark-yellow);
	opacity: 0.5;
}

.footer-link-bottom a {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-dark-yellow);
	text-decoration-line: none;
}

.footer-copyright {
	background-color: var(--nav-background);
	color: var(--basic-white);
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

.footer-copyright .container {
	display: flex;
	align-items: center;
}

.feed-back {
	display: flex;
	gap: 51px;
	margin: 35px 0;
}



.feed-back a {
	color: var(--basic-dark-yellow);
	text-decoration-line: none;
}

.feed-back a:hover {
	text-decoration-line: underline;
	cursor: pointer;
}

.feed-back a:active {
	color: var(--basic-red);
}

.copyright-text {
	margin: 0;
	padding: 0;
}

.footer-mail {
	color: var(--basic-dark-yellow);	
}

.vk {
	display: inline-block;
	background-color: var(--background-vk);
	width: 44px;
	height: 44px;
	border-radius: 20px;
	background-image: url(../img/vk.svg);
	background-repeat: no-repeat;
	background-position: center;
}



.inst {
	display: inline-block;
	background-color: var(--background-vk);
	width: 44px;
	height: 44px;
	border-radius: 20px;
	background-image: url(../img/insta.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.fb {
	display: inline-block;
	background-color: var(--background-vk);
	width: 44px;
	height: 44px;
	border-radius: 20px;
	background-image: url(../img/fb.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.social-link a:hover {
	background-color: var(--basic-red);
}












/* Catalog */

.user-name-button {
	position: relative;
	text-decoration-line: none;
	color: var(--basic-black);
	font-family: Cuprum;
	font-style: normal;
	padding: 12px 57px 12px 56px;
	background-color: var(--basic-white);						;
	font-weight: normal;
	margin-top: 46px;
	font-size: 21px;
	line-height: 21px;
}

.user-name-button::before {
	content: "";
	position: absolute;
	background-image: url(../img/men.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 20px;
	height: 18px;
	left: 15px;
}

.user-name-button::after {
	content: "";
	position: absolute;
	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 19.91px;
	height: 17px;
	right: 17px;
	top: 14px;
}



.bread-crumbs {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	display: flex;
	list-style: none;
	margin: 21px 0 0 0;
	padding: 0; 
	align-items: center;
}

.bread-crumbs:before {
	content: "";
	width: 14px;
	height: 12px;
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	margin-right: 15px;
}

.main-catalog-flex-box {
	display: flex;
	align-items: center;
	margin: 20px 0;
	background-color: var(--catalog-heading-background);
}



.bread-crumbs li {
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	padding: 0 17px 0 0;
	display: flex;
	align-items: center;
}

.bread-crumbs li:before {
	content: "";
	display: inline-block;
	margin: 3px 17px 3px 0;
	width: 8px;
	height: 12px;
	background-image: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
}

.user-name-button:active {

	color: var(--active-grey);
}

.flex-container .container {
	display: flex;
	justify-content: space-between;
}

.main-catalog-heading {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	margin: 29px 0 30px 29px;
	line-height: 30px;
}

.main-catalog .container {
	display: flex;
	flex-direction: column;
}

.active-busket .header-button-basket {
	background-color: var(--basic-red);

}

.user-button {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

}

.user-name-bread-crumbs {
	margin: 7px 0 0 0;
	padding: 0;
	display: flex;
	width: 210px;
	justify-content: space-between;
}

.user-name-bread-crumbs li {
	color: var(--basic-dark-blue);
	cursor: pointer;
	list-style-type: none;
	position: relative;
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}



.user-name-bread-crumbs li:hover {
	color: var(--basic-red);
}

.user-name-bread-crumbs li:active {
	color: var(--active-grey);
}

.catalog-sorting-view {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	background-color: var(--catalog-form-background);
	padding: 10px 14px 10px 19px;
	margin-bottom: 28px;
}

.catalog-sorting-item {
	display: flex;
	margin-left: 140px;
}

.catalog-sorting-text {
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
}

.catalog-sorting-item li:first-child {
	margin-right: 70px;
}

.catalog-sorting-item li:nth-child(2) {
	margin-right: 65px;
}

.catalog-sorting-style {
	opacity: 0.3;
	color: var(--basic-black);
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-decoration-line: none;
	border-bottom: 1px dashed var(--basic-red);
}

.active-price {
	color: var(--basic-red);
	border: none;
}

.catalog-sorting-view li a:hover {
	border-bottom: 1px solid var(--basic-red);
	color: var(--basic-black);
	opacity: 1;
}

.catalog-sorting-view li a:active {
	color: var(--basic-red);
	border: none;
}

.up {
	transform: rotate(180deg);
	margin-left: 46px;
	margin-right: 21px;
	cursor: pointer;
}

.down {
	cursor: pointer;
}

.up:hover path {
	fill: var(--basic-black);
}

.down:hover path {
	fill: var(--basic-black);
}

.actiw path {
	fill: var(--basic-red);
}

.scroll-button {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	gap: 10px;
	margin-top: 48px;
}

.scroll-button-style {
	display: block;
	padding: 10px 15px;
	color: var(--basic-black);
	text-decoration-line: none;
	background-color: var(--basic-white);
	border: 1px solid var(--border-grey);
	border-radius: 2px;
}

.scroll-button-active  {
	background-color: var(--basic-red);
	color: var(--basic-white);
}


.scroll-button-next {
	color: var(--basic-black);
	text-decoration-line: none;
	background-color: var(--basic-white);
	border: 1px solid var(--border-grey);
	border-radius: 2px;
	padding: 10px 31px 10px 32px;
	display: block;
	text-transform: uppercase;
}

.scroll-button a:hover {
	border: 1px solid var(--active-grey);
}

.scroll-button a:active {
	border: 1px solid var(--basic-red);	
}

.about-product {
	background-color: var(--background);
	margin-top: 59px;
}

.about-product-heading {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	padding: 64px 0 25px 0;
}

.about-product-text {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding-bottom: 68px;
	width: 907px;
}

.main-catalog .main-popular-item-catalog {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	gap: 20px;
}

.catalog-form {
	width: 220px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.filter {
	font-family: PT Sans;
	font-size: 13px;
	font-style: normal;
	line-height: 18px;
	background-color: var(--catalog-form-background);
	margin-bottom: 14.15px;
}

.filter p {
	margin: 0;
	padding: 10px 0 10px 18px;
}

.filter-price {
	font-family: PT Sans;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	margin: 0 0 10.85px 0;
	text-transform: uppercase;
}

.filter-item {
	border: none;
	margin: 0;
	padding: 0;
}

.range-controls {
	position: relative;
	border-radius: 5px;
	margin-bottom: 9px;
	height: 80px;
	width: 220px;
	padding: 39px 20px;
	background-color: var(--catalog-form-background);
}

.range-controls .scale {
	height: 2px;
	background-color: var(--scale-background);
}

.range-controls .bar {
	height: 2px;
	background-color: var(--bar-background);
	width: 80%;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 8px solid var(--basic-white);
	background-color: var(--toggle-background);
	padding: 0;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
	width: 220px;
}

.dash {
	display: flex;
	align-items: center;
}

.price-controls input {
	width: 95px;
	font-family: PT Sans;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	background-color: var(--catalog-form-background);
	border: none;
	padding: 10px;
	border-radius: 5px;
}

.line {
	margin-top: 25px;
	height: 1px;
	width: 220px;
	background-color: var(--basic-black);
	opacity: 0.1;
	margin-bottom: 16px;
}

.filter-manufacturers {
	font-family: PT Sans;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}

.filter-item ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: PT Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
}

.filter-option:last-child {
	padding-bottom: 0;
}

.filter-option {
	padding-left: 35px;
	padding-bottom: 16px;
}

.filter-option label {
	padding: 1px 0;
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	width: 21px;
	left: -35px;
	top: 0;
	height: 21px;
	border: 2px solid var(--active-grey);
	border-radius: 2px;
}

.filter-input-checkbox:hover + label::before {
	border: 2px solid var(--active-checked);
}

.filter-input-checkbox:disabled + label::before {
	opacity: 0.3;
}

.filter-input-checkbox:disabled + label {
	opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	background-image: url(../img/check-input.svg);
	background-repeat: no-repeat;
	width: 21.72px;
	height: 16.76px;
	top: -1px;
	left: -33px;
}

.filter-input-checkbox:hover + label::after {
	background-image: url(../img/checked-dark.svg);
}

.filter-power {
	font-family: PT Sans;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 20.85px;
}

.filter-input-radio + label::before {
	content: "";
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 4px solid var(--active-grey);
	position: absolute;
	left: -35px;
	top: 0;
}

.filter-input-radio:hover + label::before {
	border: 4px solid var(--active-checked);
}

.filter-input-radio:disabled + label::before {
	opacity: 0.4;
}

.filter-input-radio:disabled + label{
	opacity: 0.4;
}

.filter-radio label {
	padding: 3px 0;
}


.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: var(--active-grey);
	top: 8px;
	left: -27px;
}

.filter-input-radio:hover + label::after {
	border: 4px solid var(--active-checked);
}

.filter-input-radio:disabled + label::after {
	opacity: 0.4;
}

.filter-show-button {
	border: 1px solid var(--border-grey);
	box-sizing: border-box;
	background-color: var(--basic-white);
	padding: 10px 50px;
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
	margin-top: 43px;
	text-transform: uppercase;
}

.main-popular-item-catalog-hover-link-visual {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 38px;
	padding-bottom: 54px;
}

.main-popular-item-catalog-hover-link-visual .buy {
	position: relative;
	color: var(--basic-white);
	background-color: var(--basic-green);
	box-shadow: inset 0px -3px 0px #367315;
	border-radius: 2px;
	width: 135px;
	text-transform: uppercase;
	padding: 10px 40px 10px 53px;
	text-decoration: none;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
}

.main-popular-item-catalog-hover-link-visual .buy:hover {
	background-color: var(--hover-green);
}

.main-popular-item-catalog-hover-link-visual .buy:active {
	background-color: var(--active-green);
}

.main-popular-item-catalog-hover-link-visual .to-bookmarks {
	border: 3px solid var(--basic-green);
	box-sizing: border-box;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	border-radius: 2px;
	text-transform: uppercase;
	background-color: var(--basic-white);
	color: var(--basic-dark-blue);
	padding: 8px 31px 6px 30px;
	margin-top: 10px;
	text-decoration: none;
}

.main-popular-item-catalog-hover-link-visual .to-bookmarks:hover {
	border: 3px solid var(--basic-dark-blue);
	box-sizing: border-box;
	border-radius: 2px;	
}

.main-popular-item-catalog-hover-link-visual .to-bookmarks:active {
	border: 3px solid var(--basic-dark-blue);
	box-sizing: border-box;
	border-radius: 2px;
	opacity: 0.5;
}











